<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>QuizManagerServlet</servlet-name>
		<servlet-class>osquiz.QuizManagerServlet</servlet-class>
		<init-param>
			<param-name>CONFIG_XML_FILE_LOCATION</param-name>
			<param-value>./quizresources/config.xml</param-value>
    </init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>QuizManagerServlet</servlet-name>
		<url-pattern>/OSQuizStart</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>LoginManagerServlet</servlet-name>
		<servlet-class>osquiz.LoginManagerServlet</servlet-class>
		<init-param>
		      <param-name>CONFIG_XML_FILE_LOCATION</param-name>
		      <param-value>./quizresources/config.xml</param-value>
    </init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginManagerServlet</servlet-name>
		<url-pattern>/OSQuizLogin</url-pattern>
	</servlet-mapping>	
	
</web-app>
